<!-- header-->

<header>
    <div class="site-title">
        <%= link_to root_path(:anchor => "home") do %>
        <h1>Nathan Harris</h1>
        <h2 class="header__subtitle"></h2>
        <% end %>
    </div>
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item"><%= link_to "About", root_path(:anchor => "about"), class: "nav__link" %></li>
            <li class="nav__item"><%= link_to "Projects", root_path(:anchor => "projects"), class: "nav__link" %></li>
            <li class="nav__item"><%= link_to "Contact", root_path(:anchor => "contact"), class: "nav__link" %></li>
        </ul>
    </nav>
</header>

<!-- home-->

<section class="home" id="home">
    <div class="blob">
        <div class="blob-title"> <%= cl_image_tag ("mwcnqnipanqvi3bwzfbt.png") %></div>
    </div>
</section>


<!-- about-->

<section class="about" id="about">
    <div class="about-info">
        <p>I am a full-stack web developer based in Amsterdam and a graduate of Le Wagon Web Development Bootcamp. I work with:</p>
        <div class="skills">
            <div class="skill"><div class="skill__content"><div class="skill-text">Ruby</div><div class="skill-icon" id="ruby"><%= cl_image_tag("v1604342946/w7p6sq607xw1cuxem04b.png", alt: "Ruby", width: "35px") %></div></div></div>
            <div class="skill"><div class="skill__content"><div class="skill-text">Rails</div><div class="skill-icon" id="ruby"><%= cl_image_tag("wcn3xna5vbzvncsuksxj.png", alt: "Rails", width: "40px") %></div></div></div>
            <div class="skill"><div class="skill__content"><div class="skill-text">Javascript</div><div class="skill-icon"><i class="fab fa-js"></i></div></div></div>
            <div class="skill"><div class="skill__content"><div class="skill-text">HTML</div><div class="skill-icon"><i class="fab fa-html5"></i></div></div></div>
            <div class="skill"><div class="skill__content"><div class="skill-text">CSS</div><div class="skill-icon"><i class="fab fa-css3-alt"></i></div></div></div>
            <div class="skill"><div class="skill__content"><div class="skill-text">Sass</div><div class="skill-icon"><i class="fab fa-sass"></i></div></div></div>
            <div class="skill"><div class="skill__content"><div class="skill-text">SQL</div><div class="skill-icon"><i class="fas fa-database"></i></div></div></div>
            <div class="skill"><div class="skill__content"><div class="skill-text">Git</div><div class="skill-icon"><i class="fab fa-git-square"></i></div></div></div>
            <div class="skill"><div class="skill__content"><div class="skill-text">React</div><div class="skill-icon"><i class="fab fa-react"></i></div></div></div>
        </div>
        <br>
        <br>
        <br>
    </div>
</section>


 <!-- work-->
<section class="projects" id="projects">

    <div class="projects-grid">

        <a href="http://www.lwscout.com" target="_blank">
            <div class="project-card">
                <div class="project-image"> 
                    <%= cl_image_tag ('ej1k6wk6myzg6haomxud.png') %>
                </div>
                <div class="project-infos">
                    <div class="project-infos__title">
                        <h1>Scout</h1>
                    </div>
                    <div class="project-infos__description">
                        <p>An app to help connect people with freelance personal trainers, built with Ruby on Rails.</p>
                    </div>
                </div>
            </div>
        </a>

        <a href="https://boat-rental-app-bbgsch.herokuapp.com/" target="_blank">
            <div class="project-card">
                <div class="project-image">
                <%= cl_image_tag ('psjaqgitlqdxzznjcj9y.png') %>
                </div>
                <div class="project-infos">
                    <div class="project-infos__title">
                        <h1>Das Boathaus</h1>
                    </div>
                    <div class="project-infos__description">
                        <p>Boat rental app built with Ruby on Rails.</p>
                    </div>
                </div>
            </div>
        </a>
        
    </div>


</section>

<!-- contact-->

<section class="contact" id="contact">


<ul class="contact-links">
    <li><a href="mailto:nate.sam.harris@gmail.com" target="_blank"><h1>Email</h1></a></li>
    <li><a href="https://www.linkedin.com/in/nathan-harris-59a5031b2/" target="_blank"><h1>LinkedIn</h1></a></li>
    <li><a href="https://github.com/nsharris" target="_blank"><h1>GitHub</h1></a></li>
</ul>


</section>

